img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

/*Start adding your CSS below!*/
div {
    height:45px;
    width:110px;
    border-color:#000000;
    background-color:#000000;
    border-radius:8px;
    margin:auto;
    text-align:center;
}
a {
    font-family:Impact;
    text-decoration:none;
    color:#ffffff;
}
span {
    font-family:Impact;
    color:#d37ad8;
}


